@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for high-density feel */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #111418; 
}
::-webkit-scrollbar-thumb {
    background: #3b4754; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #4b5966; 
}
